 *{
     text-align: center;
     background-color: lightblue;
 }

 body {
     background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fpixnio.com%2Ffree-images%2F2017%2F10%2F17%2F2017-10-17-06-11-40.jpg&imgrefurl=https%3A%2F%2Fpixnio.com%2Fnature-landscapes%2Fsunrise%2Fsunrise-outdoor-dawn-sky-sun-nature-dusk-summer-sunrise&tbnid=ciTq12gHFprnbM&vet=12ahUKEwin69H5r8DqAhUa_BoKHQuoC-QQMygMegUIARDcAQ..i&docid=nx1A5NFawYHOIM&w=4924&h=2709&q=sky%20images&hl=en&ved=2ahUKEwin69H5r8DqAhUa_BoKHQuoC-QQMygMegUIARDcAQ")
 }

 img{
     height: 800px;
     width: 500px;
 }

img{
    float: left;
}

#name{
    text-align: left;
    color: tomato;
}

h1,h2,h3,h4,p{
    font-family: initial;
    font-style: normal;
}
div{
    font-family: 'Times New Roman', Times, serif;
}
ul,ol{
    font-style: oblique;
}

