 *{
     text-align: center;
     background-color: lightblue;
 }

 img{
     height: 800px;
     width: 500px;
 }

img{
    float: left;
}

#name{
    text-align: left;
    color: tomato;
}

h1,h2,h3,h4,p{
    font-family: initial;
    font-style: normal;
}
div{
    font-family: 'Times New Roman', Times, serif;
}
ul,ol{
    font-style: oblique;
}

